img {
    max-width: 100%;
    max-height: 100%;
}

.slick-dots li button:before {
    font-size: 12px;
    color: white!important;
}
li, p {
    font-size: 1rem;
}

svg {
    vertical-align: middle;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #CF455C;
}

.modal-video-close-btn {
    background: #CF455C;
    padding: 19px 20px;
    border-radius: 100%;
    cursor: pointer;
    width: 'auto!important'
}
@media (orientation: landscape) {
.modal-video-close-btn {
    top: -31px;
    right: -45px;
}
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
    width: 50%;
    top: 60%;
    left: 11px;
  
}