:root {
    --body-hue: 180;
    --body-color: hsla(var(--body-hue), 50%, 50%, 100%);
  
    --frame-color: hsla(0, 100%, 100%, 100%);
    --frame-bg-hue: 20;
    --frame-inside-color: linear-gradient(
      hsla(var(--frame-bg-hue), 50%, 50%, 100%),
      hsla(var(--frame-bg-hue), 100%, 100%, 100%)
    );
  
    --wave-hue: 200;
    --wave-color: hsla(var(--wave-hue), 50%, 50%, 80%);
    --wave-bottom-bg: linear-gradient(
      hsla(var(--wave-hue), 50%, 50%, 100%),
      hsla(var(--wave-hue), 50%, 50%, 80%)
    );
  }
  
  body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--body-color);
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .frame {
    position: absolute;
    /* border: solid 1em var(--frame-color);
    background: var(--frame-inside-color); */
    width: 100%;
    left: 0;
    height: 62em;
    transform: rotate(180deg);
    overflow: hidden;
    z-index: -1;
  }

  .frame1 {
    position: absolute;
    /* border: solid 1em var(--frame-color);
    background: var(--frame-inside-color); */
    width: 100%;
    left: 0;
    height: 44em;
    margin-top: 22.6em;
    transform: rotate(180deg);
    overflow: hidden;
    z-index: -1;
  }

  .normal-frame{
    position: absolute;
    /* border: solid 1em var(--frame-color);
    background: var(--frame-inside-color); */
    width: 100%;
    left: 0;
    height: 32em;
    margin-top: -9.4em;    
    overflow: hidden;
    z-index: -1;
  }
  
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: var(--wave-bottom-bg);
    animation: rises 5s ease-in-out alternate-reverse infinite;
  }
  
  .wave,
  .wave::before,
  .wave::after {
    position: absolute;
    height: 100%;
    width: 230%;
    background-color: var(--wave-color);
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    /* border-top: solid .1em var(--frame-color); */
  }
  
  .wave {
    top: -75%;
    animation-name: slide;
    animation-timing-function: cubic-bezier(0.55, 0.5, 0.45, 0.5);
    animation-iteration-count: infinite;
    transform: translateX(-150%);
  }
  
  .wave::before,
  .wave::after {
    content: "";
  }
  
  .wave::before {
    left: -200%;
  }
  
  .wave::after {
    right: -200%;
  }
  
  .wave:nth-child(1) {
    animation-duration: 30s;
  }
  
  .wave:nth-child(2) {
    animation-delay: 2s;
    animation-duration: 10s;
  }
  
  .wave:nth-child(3) {
    animation-duration: 10s;
  }
  
  @keyframes rises {
    100% {
      height: 30%;
    }
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-150%);
    }
  
    100% {
      transform: translateX(150%);
    }
  }
  